<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/users" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Edit user : {{ user.username }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <ion-text>{{message}}</ion-text>
  </div>

  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input type="text" [(ngModel)]="user.username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="user.mail" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password" required></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Avatar</ion-label>
    <ion-input  type="text" [(ngModel)]="user.avatar"></ion-input>
  </ion-item>

  <div class="ion-padding">
    <ion-button expand="block" class="ion-no-margin"
  (click)="updateUser()">Update user</ion-button>
  </div>

</ion-content>
