<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/users" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Create user
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-padding">
    <ion-text>{{message}}</ion-text>
    <!-- <ion-button *ngIf="button" expand='block' class='ion-no-margin' (click)='goToUser(utilisateur.id)'>Voir l'utilisateur</ion-button> -->
  </div>

  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input type="text" [(ngModel)]="utilisateur.username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="utilisateur.mail" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="utilisateur.password" required></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Avatar</ion-label>
    <ion-input  type="text" [(ngModel)]="utilisateur.avatar"></ion-input>
  </ion-item>

  <div class="ion-padding">
    <ion-button expand="block" class="ion-no-margin"
  (click)="insertUser()">Create user</ion-button>
  </div>

</ion-content>