<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-padding">
    <ion-button expand="block" class="ion-no-margin" href="/users">Users</ion-button>
  </div>

</ion-content>
