<ion-header>
  <ion-toolbar>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <ion-button expand="block" class="ion-no-margin" href="/create-user">Create new user</ion-button>
  </div>

  <ion-card *ngFor="let user of utilisateurs" (click)="goToUser(user.id)">
      <img src="{{user.avatar}}" />
      <ion-card-header>
        <ion-card-subtitle>Username</ion-card-subtitle>
        <ion-card-title>{{ user.username }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ user.mail }}
      </ion-card-content>
      <div class="ion-padding">
        <ion-button expand="block" class="ion-no-margin" (click)="goToUser(user.id)">More details</ion-button>
      </div>
  </ion-card>

</ion-content>
