<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/users" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>User : {{ user.username }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="{{user.avatar}}" />
    <ion-card-header>
      <ion-card-subtitle>Username</ion-card-subtitle>
      <ion-card-title>{{ user.username }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ user.mail }}
    </ion-card-content>
    <div class="ion-padding">
      <ion-button expand="block" color="secondary" (click)="goToEditUser(user.id)">Update user</ion-button>
      <ion-button expand="block" color="danger" (click)="deleteUser()">Delete user</ion-button>
    </div>
</ion-card>

</ion-content>
